@charset "UTF-8";

@font-face {
    font-family: GTA;
    src: url(src/Olondona.otf) format(opentype);
    src: url(src/OldLondon.ttf) format(truetype);
}

header{
    text-align: left;
    background-color:black;
    margin-top: -7px;
    border-radius: 1px;
    padding-left: 12px;
    margin-right: -9px;
    margin-left: -10px;
}

h1{
    color: aliceblue;
    font-size: 65px;
    font-family: GTA;
    text-align: left;
    margin: auto;
    padding-bottom: 13.5px;
    padding-left: 5.5px;
}

body{
    background-color: #303134;
    background-image: url('src/Sem\ nome\ \(1550\ x\ 500\ px\)_20240820_163224_0000.jpg');
    background-repeat: no-repeat;
    background-position:  -2px 81px;
    background-size: contain;
    background-attachment: scroll;
    
}

.links{
text-align: center;
margin-top: -50px;
}

img{
    width: 21.5vw;
    border: 5px solid #489350;
    border-radius: 3px;
    height: 17vw;
    position: relative;
    top: 30px;
    left: 12px;
}
p{
    color: aliceblue;
    text-align: left;
    text-align: justify;
    padding-bottom: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

#Olá{
    font-size: 3em;
    font-style: normal;
}

.descrição{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 375px;
    margin-top: -230px;
    font-size: 25px;
    background-color: #489350;
    padding:  10px;
    height: -25px;
    border-radius: 25px;
    box-shadow:  black 2px 5px;
    text-shadow: black 1px 1px;
}

.Tempo{
    width: 21.5vw;
    border: 0px solid #489350;
    border-radius: 20px;
    height: 17vw;
    position: relative;
    top: 30px;
    left: 330px;
}

.tempo{
    font-style: italic;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color: #489350;
    font-size: 25px;
    padding: 10px;
    box-shadow:  black 2px 5px;
    text-shadow: black 1px 1px;
    margin-right: 300px;
    margin-left: 750px;
    margin-top: -130px;
    
}

.Responsividade{
    width: 21.5vw;
    border: 0px solid #489350;
    border-radius: 20px;
    height: 17vw;
    position: relative;
    top: 55.5px;
    left: 330px;
}

.responsividade{
    text-align: center;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color: #489350;
    font-size: 25px;
    padding: 10px;
    box-shadow:  black 2px 5px;
    text-shadow: black 1px 1px;
    margin-right: 300px;
    margin-left: 750px;
    margin-top: -100px;
}

.TECNOLOGIA{
    width: 21.5vw;
    border: 0px solid #489350;
    border-radius: 20px;
    height: 17vw;
    position: relative;
    top: 55.5px;
    left: 330px;
}

.tecnologia{
    text-align: center;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color: #489350;
    font-size: 25px;
    padding: 10px;
    box-shadow:  black 2px 5px;
    text-shadow: black 1px 1px;
    margin-right: 300px;
    margin-left: 750px;
    margin-top: -100px; 
}

a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    padding: 15px; 
    margin-left: 20px; 
}

a:hover{
    color: #97ED9D;
    transition: 0.3s;
}





