@charset "UTF-8";

@font-face {
    font-family: GTA;
    src: url(src/Olondona.otf) format(opentype);
    src: url(src/OldLondon.ttf) format(truetype);
}

header{
    text-align: center;
    background-color:black;
    margin-top: -7px;
    margin-left: 57px;
    margin-right: 57px;
}

h1{
    color: aliceblue;
    font-size: 57px;
    font-family: GTA;
    text-align: center;
    margin: auto;
    padding-bottom: 11.5px;
}

body{
    background-color: #33363b;
    background-image: url(src/matrix.webp);
    background-repeat: no-repeat;
    background-position: -100px -100px 100px -300px;
    background-size: cover;
    background-attachment: fixed;
}

a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    padding: 15px;
    padding-top: 5px;
    margin: auto;
}

img{
    display:block;
    border-radius: 200px;
    width: 150px;
    margin: auto;
}

div{
    background-color: black;
    display: block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    margin-left: 57px;
    margin-right: 57px;
    padding-top: -40px;
}

div.corpo{
    margin-top: -50px;
    padding: 10px;
    padding-bottom: 50px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: -60px;
}

h2{
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Vantagens{
    text-align: left;
    padding: 1px;
}

p{
    color: aliceblue;
    text-align: left;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    color: aliceblue;
    text-align: left;
}

li{
font-family: Arial, Helvetica, sans-serif;
list-style-position: fixed;
}

.Curiosidade{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.Curiosidade::before{
    content: '⇒';
}




